/* http://css-tricks.com/perfect-full-page-background-image/ */
    html {
      background: url(../images/wall.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    body {
      padding-top: 20px;
      font-size: 16px;
      font-family: "Open Sans",serif;
      background: transparent;
    }

    h1 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 25px;
    }

    h2 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 20px;
    }

    /* Override B3 .panel adding a subtly transparent background */
    .panel {
      background-color: rgba(255, 255, 255, 0.9);
    }

    .prediction{
      color:red;
    }

    .margin-base-vertical {
      margin: 40px 0;
    }

.contrib-legend{
  font-size:11px;
  color:#999;
  float:right
}

.contrib-legend .legend{
  display:inline-block;
  list-style:none;
  margin:0 5px;
  position:relative;
  bottom:-1px
}

.contrib-legend .legend li{
  display:inline-block;
  width:10px;
  height:10px
}

.contrib-exp{
  font-size:11px;
  color:#999;
  float:left;
}

.contrib-exp .legend{
  list-style:none;
  margin:0 5px;
  position:relative;
  bottom:-1px
}

.contrib-exp .legend li span{
  width:10px;
  height:10px
}

#GC .slider-selection {
  background: #428041;
}
#GC .slider-handle {
  background: green;
}
.chart {
  display: block;
  margin: auto;
  margin-top: 40px;
}
text {
  font-size: 11px;
}
rect {
  fill: none;
}

input.input-mini{font-size:11px;color:#999;background-color: #eee}
.clone-url h2{margin-top:0;margin-bottom:10px}.clone-url .input-group{width:100%}.clone-url input.input-mini{font-size:11px;color:#999}